.header {
  background-color: #ffcc99;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  font-weight: bold;
  text-align: center;
}

main {
  display: flex;
  background-color: #e6f2ff;
}

aside {
  flex: 1;
  background-color: #b3d9ff;
  border: 1px solid #ccc;
}

section {
  flex: 3;
  margin: 20px;
}

footer {
  background-color: #99cc99;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}
